.card {
  min-width: 300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  color: #fff;
}

.card a {
  text-decoration: underline;
  margin-top: 15px;
  display: block;
  font-size: 10px;
  text-align: center;
}