html, body, .main {
  height: 100%;
}

body {
  background: linear-gradient(to right, $green-dark 0%, $green-light 100%);
}

header {
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 60px;
    margin-top: 180px;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    background: rgba(255,255,255,.1);
  }
}