.clock-in
  .card-ghost
    h1 Clock in
    #time
    button.square-filled.green
      i.far.fa-clock.fa-7x

.clock-out
  .card-ghost
    h1 Clock out
    #time
    button.square-filled.red
      i.far.fa-clock.fa-7x