/*	FONTS
------------------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Raleway', Arial, sans-serif, ;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 { margin: 0 0 15px 0; }

.icon-inline svg { margin-right: 5px; }

a { text-decoration: underline; }


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}